name: 'Terraform plan and apply'
on:
  workflow_dispatch:
  push:
    branches:
      - 'main'

jobs:
  terraform-plan:
    # env:
    #   ARM_CLIENT_ID: ${{ secrets.TF_ARM_CLIENT_ID }}
    #   ARM_CLIENT_SECRET: ${{ secrets.TF_ARM_CLIENT_SECRET }}
    #   ARM_SUBSCRIPTION_ID: ${{ secrets.TF_ARM_SUBSCRIPTION_ID }}
    #   ARM_TENANT_ID: ${{ secrets.TF_ARM_TENANT_ID }}
      
    name: 'Terraform init and plan'
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./azure
    steps:
      - name: Checkout 
        uses: actions/checkout@v4
        
      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_wrapper: false
          
      - name: Terraform Init
        run: terraform init
        
      - name: Terraform Plan
        run: terraform plan

      - name: Terraform Apply
        run: terraform apply -auto-approve
